:local {




  .box-horizontal {
    background-color: ffffff;
    float: left;
    width: 100%;
    height: 145px;
    border: 1px solid lavender;
  }

  .fileBox {
    position: fixed;
    bottom: 1000px;
    right: 9000px;
    border: 1px solid black;
  }

  .fileName {
    font-size: 500%;
    text-align: left;
  }

  .infoBox {
    position: fixed;
    height: 30px;
    width: 200px;
    bottom: 500px;
    right: 700px;
    text-align: left;
    color: lightslategray;
  }

  .iconBox {
    position: fixed;
    top: 25px;
    left: 30px;
    height: 110px;
    width: 90px;
  }

  .timeBox {
    position: fixed;
    height: 30px;
    width: 250px;
    bottom: 450px;
    right: 650px;
    text-align: left;
    color: gainsboro;
  }

}
